

/***************** sessions ***************/
/*******************************************/
#sessions {
  position: relative;
  float: left;
  margin-left: 10px;
  width: 300px;
  padding-top: 10px;
}

#sessions .session {
  display: none;
  position: relative;
  background: url("../images/transparent-25-bg.png") repeat;
  border-radius: 0 10px 10px 0;
  padding: 5px;
  margin-bottom: 10px;
}

#sessions .session .close {
  position: absolute;
  right: -45px;
  top: 10px;
  width: 60px;
  height: 40px;
  background: center top url("../images/session-close.png") no-repeat;
  cursor: pointer;
  z-index: 100;
  display: none;
}

#sessions .session .container {
  position: relative;
  background: url("../images/transparent-75-bg.png") repeat;
  border-radius: 0 10px 10px 0;
  padding: 5px;
}

#sessions .session .peer span {
  font-size: 12px;
  color: #555;
}

#sessions .session .peer span.display-name {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-right: 5px;
}

#sessions .session .container > .call {
  margin-top: 6px;
  height: 32px;
  color: #333;
}

#sessions .session .container > .call > .button {
  float: left;
  margin-right: 2px;
  height: 32px;
  width: 32px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}
#sessions .session .container > .call > .button.dial {
  background-image: url("../images/icon-dial.png");
}
#sessions .session .container > .call > .button.hangup {
  background-image: url("../images/icon-hangup.png");
}
#sessions .session .container > .call > .button.hold {
  background-image: url("../images/icon-hold.png");
}
#sessions .session .container > .call > .button.resume {
  background-image: url("../images/icon-resume.png");


#sessions .session .container > .call .call-status {
  float: left;
  /* width: 144px; Uncomment when hold/resume is useful */
  width: 178px;
  height: 24px;
  padding-top: 8px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  _overflow: hidden;
}

/* call inactive */
#sessions .session .container > .call.inactive .button.dial {
}
#sessions .session .container > .call.inactive .button.hangup {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.inactive .button.hold {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.inactive .button.resume {
  display: none;
}
#sessions .session .container > .call.inactive .button.dtmf {
  cursor: default;
  opacity: 0.4;
}

/* call trying */
#sessions .session .container > .call.trying .button.dial {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.trying .button.hangup {
}
#sessions .session .container > .call.trying .button.hold {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.trying .button.resume {
  display: none;
}
#sessions .session .container > .call.trying .button.dtmf {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.trying .call-status {
  color: #666;
}

/* call in-progress */
#sessions .session .container > .call.in-progress .button.dial {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.in-progress .button.hangup {
}
#sessions .session .container > .call.in-progress .button.hold {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.in-progress .button.resume {
  display: none;
}
#sessions .session .container > .call.in-progress .button.dtmf {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.in-progress .call-status {
  color: #C49300;
}

/* call incoming */
#sessions .session .container > .call.incoming .button.dial {
}
#sessions .session .container > .call.incoming .button.hangup {
}
#sessions .session .container > .call.incoming .button.hold {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.incoming .button.resume {
  display: none;
}
#sessions .session .container > .call.incoming .button.dtmf {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.incoming .call-status {
  color: #C49300;
}

/* call answered */
#sessions .session .container > .call.answered .button.dial {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.answered .button.hangup {
}
#sessions .session .container > .call.answered .button.hold {
}
#sessions .session .container > .call.answered .button.resume {
  display: none;
}
#sessions .session .container > .call.answered .button.dtmf {
}
#sessions .session .container > .call.answered .call-status {
  color: #008000;
}

/* call answered-elsewhere */
#sessions .session .container > .call.answered-elsewhere .button.dial {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.answered-elsewhere .button.hangup {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.answered-elsewhere .button.hold {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.answered-elsewhere .button.resume {
  display: none;
}
#sessions .session .container > .call.answered-elsewhere .button.dtmf {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.answered-elsewhere .call-status {
  color: #558000;
}

/* call on-hold */
#sessions .session .container > .call.on-hold .button.dial {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.on-hold .button.hangup {
}
#sessions .session .container > .call.on-hold .button.hold {
  display: none;
}
#sessions .session .container > .call.on-hold .button.resume {
}
#sessions .session .container > .call.on-hold .button.dtmf {
}
#sessions .session .container > .call.on-hold .call-status {
  color: #008000;
}

/* call terminated */
#sessions .session .container > .call.terminated .button.dial {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.terminated .button.hangup {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.terminated .button.hold {
  cursor: default;
  opacity: 0.4;
}
#sessions .session .container > .call.terminated .button.resume {
  display: none;
}
#sessions .session .container > .call.terminated .button.dtmf {
  cursor: default;
  opacity: 0.4;
}

#sessions .session .container > .call.terminated .call-status {
  color: #FF2200;
}


#sessions .session .chat {
  position: relative;
  margin-top: 10px;
}

#sessions .session .chat .chatting {
  position: relative;
  background: #FFF;
  padding: 5px;
  font-size: 12px;
  color: #333;
  max-height: 80px;
  overflow: auto;
  border: 1px solid #CCC;
}
#sessions .session .chat .chatting.inactive {
  display: none;
}

#sessions .session .chat .iscomposing {
  position: absolute;
  background: url("../images/iscomposing2.gif") no-repeat;
  width: 26px;
  height: 26px;
  bottom: 32px;
  right: 16px;
  z-index: 20;
  display: none;
}

#sessions .session .chat .chatting p {
  font-size: inherit;
  margin-bottom: 2px;
}

#sessions .session .chat .chatting p.me {
  color: #444;
}

#sessions .session .chat .chatting p.peer {
  color: #008F00;
}

#sessions .session .chat .chatting p.error {
  color: red;
}

#sessions .session .chat input[type="text"] {
  margin: 5px 0 0 0;
  display: block;
  line-height: 24px;
  height: 24px;
  border: 1px solid #CCC;
  border-radius: 0 0 5px 0;
  width: 278px;
  font-size: 12px;
  text-indent: 5px;
  color: #000;
  font-style: normal;
}
#sessions .session .chat input[type="text"].inactive {
  color: #888;
  font-style: italic;
}



/***************** webcam **************/
/***************************************/
#webcam {
  position: absolute;
  top: 60px;
  right: 100px;
  width: 400px;
  height: 300px;
  padding: 6px;
  background: url("../images/transparent-black-25-bg.png") repeat;
  border-radius: 10px;
  border: 2px solid #EEE;
  display: none;
}

#webcam video#remoteView {
  width: 400px;
  height: 300px;
  background-color: #000;
}

#webcam video#selfView {
  position: absolute;
  bottom: 6px;
  left: 6px;
  width: 133px;
  height: 100px;
  background-color: #111;
  border-top: 2px solid #CCC;
  border-right: 2px solid #CCC;
}



/****************** TMP *********************/
#unregister_all {
  position: fixed;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 1000;
}

#ws_reconnect {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 1000;
}


/* TMP: Simular entrantes */
#test-incoming {
  position: absolute;
  top: 20px;
  left: 800px;
}